In [246]:
import pandas as pd
import json
import ast
import plotly

In [247]:
df = pd.read_csv('lasttimeinBO_edited_for_openDt.csv')
df

,Unnamed: 0.2,Unnamed: 0.1,movieCd,Unnamed: 0,rank,movieNm,openDt,audiAcc,scrnCnt,showCnt,...,director_prev_movie,director_tot_filmo,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,max_actor_nummovie,main_actor_nummovie,company_names
0,0,0,20223308,15328,9,극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출\t,2022-02-17,25726,89,97,...,[],[],0.0,0.00,0.0,72.0,0.000000,0.0,0.0,"['와이드 릴리즈(주)', '(주)얼리버드픽쳐스', '와이드 릴리즈(주)', '넷플..."
1,1,1,20196201,9258,9,소리꾼,2020-07-01,77414,240,349,...,['20184961'],"['20111416', '20157587', '20161364', '20171164...",7.0,9.62,7720.0,118.0,2.722222,18.0,2.0,"['주식회사 제이오엔터테인먼트코리아', '(주)리틀빅픽쳐스', '주식회사 제이오엔터..."
2,2,2,20208282,8838,9,더 플랫폼,2020-05-13,62950,123,189,...,[],[],0.0,0.00,0.0,94.0,0.000000,0.0,0.0,"['(주)홈초이스', '주식회사 더쿱']"
3,3,3,20188304,2726,7,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,2018-09-20,151054,350,479,...,['20172142'],"['20137295', '20150501', '20172142', '20188304']",4.0,8.58,210000.0,103.0,10.200000,18.0,13.0,"['(주)씨제이이엔엠', '(주)씨제이이엔엠']"
4,4,4,20173226,11859,10,패왕별희 디 오리지널,2017-03-30,104951,68,88,...,['20139073'],"['19848312', '19920281', '19930404', '19970252...",17.0,0.00,0.0,171.0,0.000000,0.0,0.0,"['와이드 릴리즈(주)', '(주)제이앤씨미디어그룹', '(주)드림팩트엔터테인먼트'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,1387,1387,20204432,10513,4,애비규환,2020-11-12,19288,363,532,...,['20129326'],"['20129326', '20204432', '20224758']",3.0,0.00,0.0,107.0,2.283019,18.0,1.0,"['(주)아토', '(주)모토', '(주)리틀빅픽쳐스', '(주)리틀빅픽쳐스']"
1371,1388,1388,20200065,12049,10,더 파더,2021-04-07,30226,135,159,...,['20200065'],['20200065'],1.0,0.00,0.0,96.0,2.166667,4.0,2.0,"['판씨네마(주)', '판씨네마(주)']"
1372,1389,1389,20191951,13318,9,블랙 위도우,2021-07-07,2957005,59,66,...,['20176511'],"['19998769', '20048302', '20123626', '20176511...",5.0,6.24,7011.0,133.0,3.500000,7.0,7.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']"
1373,1390,1390,20179228,348,9,마야2,2018-02-01,55214,429,625,...,"['20179228', '20179228']","['20179228', '20179228']",1.0,9.13,97000.0,84.0,7.000000,11.0,10.0,"['(주)영화사 빅', '(주)시네마리퍼블릭']"
1374,1391,1391,20224634,16499,10,그대가 조국,2022-05-25,330566,20,21,...,['20197742'],"['20021326', '20081290', '20100752', '20140723...",10.0,0.00,0.0,124.0,1.000000,1.0,1.0,"['(주)켈빈클레인프로젝트', '(주)엣나인필름']"

In [248]:
df['audiAcc'].describe()

count    1.375000e+03
mean     5.882332e+05
std      1.635649e+06
min      2.590000e+02
25%      9.027000e+03
50%      3.776000e+04
75%      3.204340e+05
max      1.625258e+07
Name: audiAcc, dtype: float64

In [249]:
df[df['audiAcc'] > 10000000]

,Unnamed: 0.2,Unnamed: 0.1,movieCd,Unnamed: 0,rank,movieNm,openDt,audiAcc,scrnCnt,showCnt,...,director_prev_movie,director_tot_filmo,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,max_actor_nummovie,main_actor_nummovie,company_names
427,434,434,20148493,8484,5,어벤져스: 에이지 오브 울트론,2015-04-23,10503764,291,387,...,['20126566'],"['19980054', '20058297', '20124721', '20126566...",6.0,7.02,220000.0,141.0,0.000000,0.0,0.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아(주)', '월트디즈..."
454,461,461,20183782,8508,9,기생충,2019-05-30,10300613,447,922,...,['20158485'],"['19970020', '19990069', '20000024', '20001591...",25.0,8.77,0.0,131.0,3.289157,24.0,5.0,"['(주)바른손이앤에이', '(주)씨제이이엔엠', '(주)씨제이이엔엠', 'CJ E..."
483,490,490,20184889,8557,8,어벤져스: 엔드게임,2019-04-24,13977602,439,587,...,"['20177478', '20177478']","['20020009', '20068368', '20147790', '20159364...",8.0,9.08,11230000.0,180.0,4.250000,7.0,3.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']"
548,555,555,20177478,8549,10,어벤져스: 인피니티 워,2018-04-25,11230721,286,351,...,"['20159364', '20159364']","['20020009', '20068368', '20147790', '20159364...",8.0,8.83,8670000.0,149.0,4.200000,10.0,3.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']"
577,584,584,20150976,498,9,신과함께-죄와 벌,2017-12-20,14401147,131,179,...,['20124082'],"['20020283', '20030133', '20060387', '20090307...",14.0,7.76,1320000.0,139.0,0.000000,0.0,0.0,"['리얼라이즈픽쳐스(주)', '(주)덱스터스튜디오', '롯데쇼핑㈜롯데엔터테인먼트',..."
613,621,621,20204548,16668,9,범죄도시2,2022-05-18,12686210,120,172,...,['20198453'],"['20060425', '20081002', '20090434', '20119507...",11.0,8.61,1090000.0,105.0,4.535714,21.0,14.0,"['주식회사 빅펀치픽쳐스', '(주)홍필름', '(주)비에이엔터테인먼트', '주식회..."
829,840,840,20182530,4424,5,극한직업,2019-01-23,16252575,340,579,...,['20177005'],"['20081672', '20110193', '20113636', '20122123...",14.0,0.00,0.0,111.0,4.468354,24.0,6.0,"['(주)어바웃잇', '영화사 해그림 주식회사', '(주)씨제이이엔엠', '(주)씨..."
861,872,872,20149120,17446,7,인터스텔라,2014-11-06,10342523,20,50,...,['20130522'],"['19988766', '20010238', '20020227', '20050112...",13.0,7.61,690000.0,169.0,0.000000,0.0,0.0,"['워너브러더스 코리아(주)', '워너브러더스 코리아(주)']"
909,920,920,20197803,7569,10,겨울왕국 2,2019-11-21,13737960,56,75,...,"['20158362', '20157846']","['19990226', '20070117', '20136803', '20157846...",4.5,0.00,0.0,103.0,2.250000,4.0,2.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']"
944,955,955,20183867,17235,6,알라딘,2019-05-23,12797927,39,123,...,['20173961'],"['19990208', '20010153', '20030012', '20058559...",13.0,8.11,410000.0,127.0,2.000000,4.0,1.0,"['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']"
1273,1287,1287,20186202,2586,7,신과함께-인과 연,2018-08-01,12264813,223,341,...,['20150976'],"['20020283', '20030133', '20060387', '20090307...",14.0,8.73,14410000.0,141.0,6.297872,16.0,5.0,"['리얼라이즈픽쳐스(주)', '(주)덱스터스튜디오', '롯데컬처웍스(주)롯데엔터테인..."
1311,1326,1326,20090834,1758,9,아바타,2009-12-17,13326826,64,206,...,['20058061'],"['19840091', '19850097', '19860132', '19900243...",17.0,0.00,0.0,161.0,0.000000,0.0,0.0,"['이십세기폭스필름코퍼레이션', '주식회사 해리슨앤컴퍼니', '이십세기폭스코리아(주..."

In [250]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'movieCd', 'Unnamed: 0', 'rank',
       'movieNm', 'openDt', 'audiAcc', 'scrnCnt', 'showCnt', 'genres',
       'directors', 'actors', 'companys', 'director_prev_movie',
       'director_tot_filmo', 'director_career_length', 'avg score', 'avg aud',
       'movie_length', 'mean_actor_nummovie', 'max_actor_nummovie',
       'main_actor_nummovie', 'company_names'],
      dtype='object')

In [251]:
df['companys']

0       ['20141088', '20142088', '20141088', '20161522']
1       ['20123223', '20139617', '20123223', '20111211']
2                               ['20154928', '20140488']
3                               ['20110854', '20110854']
4       ['20141088', '20161101', '20143338', '20142369']
                              ...
1370    ['20141655', '20176244', '20139617', '20139617']
1371                            ['20100285', '20100285']
1372                            ['20161801', '20161801']
1373                            ['20139135', '20139220']
1374                            ['20228985', '20111582']
Name: companys, Length: 1375, dtype: object

## Filtering unused columns

In [252]:
cols = [
    # movie name
    'movieNm',
    # features
    'audiAcc',
    'scrnCnt',
    'showCnt',
    'genres',
    'director_career_length',
    'avg score',
    'avg aud',
    'movie_length',
    'mean_actor_nummovie',
    'max_actor_nummovie',
    'main_actor_nummovie',
    # 'PM10_mean',
    # 'PM10_max',
    # 'PM10_bad_days',
    # 'PM25_mean',
    # 'PM25_max',
    # 'PM25_bad_days',
    # 
    'openDt',
    'directors',
    'actors',
    'company_names',
    'director_prev_movie',
    'director_tot_filmo',
]
df = df[cols]
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,max_actor_nummovie,main_actor_nummovie,openDt,directors,actors,company_names,director_prev_movie,director_tot_filmo
0,극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출\t,25726,89,97,"['애니메이션', '액션', '어드벤처']",0.0,0.00,0.0,72.0,0.000000,0.0,0.0,2022-02-17,[],"['하성용', '정재헌', '엄상현', '윤승희', '김율', '유동균', '김정은...","['와이드 릴리즈(주)', '(주)얼리버드픽쳐스', '와이드 릴리즈(주)', '넷플...",[],[]
1,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,18.0,2.0,2020-07-01,['조정래'],"['이봉근', '이유리', '김하연', '박철민', '김동완', '한인수', '정무...","['주식회사 제이오엔터테인먼트코리아', '(주)리틀빅픽쳐스', '주식회사 제이오엔터...",['20184961'],"['20111416', '20157587', '20161364', '20171164..."
2,더 플랫폼,62950,123,189,"['SF', '스릴러']",0.0,0.00,0.0,94.0,0.000000,0.0,0.0,2020-05-13,[],[],"['(주)홈초이스', '주식회사 더쿱']",[],[]
3,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,18.0,13.0,2018-09-20,['우시로 신지'],"['여민정', '김지율', '홍범기', '신용우', '이호산']","['(주)씨제이이엔엠', '(주)씨제이이엔엠']",['20172142'],"['20137295', '20150501', '20172142', '20188304']"
4,패왕별희 디 오리지널,104951,68,88,"['드라마', '멜로/로맨스']",17.0,0.00,0.0,171.0,0.000000,0.0,0.0,2017-03-30,['첸 카이거'],"['장국영', '공리', '장풍의']","['와이드 릴리즈(주)', '(주)제이앤씨미디어그룹', '(주)드림팩트엔터테인먼트'...",['20139073'],"['19848312', '19920281', '19930404', '19970252..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,18.0,1.0,2020-11-12,['최하나'],"['정수정', '장혜진', '최덕문', '이해영', '강말금', '남문철', '신재...","['(주)아토', '(주)모토', '(주)리틀빅픽쳐스', '(주)리틀빅픽쳐스']",['20129326'],"['20129326', '20204432', '20224758']"
1371,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,4.0,2.0,2021-04-07,['플로리안 젤러'],"['안소니 홉킨스', '올리비아 콜맨', '마크 게티스', '올리비아 윌리엄스', ...","['판씨네마(주)', '판씨네마(주)']",['20200065'],['20200065']
1372,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,7.0,7.0,2021-07-07,['케이트 쇼트랜드'],"['스칼렛 요한슨', '플로렌스 퓨', '레이첼 와이즈', '데이빗 하버']","['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']",['20176511'],"['19998769', '20048302', '20123626', '20176511..."
1373,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,11.0,10.0,2018-02-01,"['노엘 클리어리', '세르지오 델피노']","['김서영', '김명준', '김소희', '임채헌', '윤세웅', '오인실', '이소...","['(주)영화사 빅', '(주)시네마리퍼블릭']","['20179228', '20179228']","['20179228', '20179228']"
1374,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,1.0,1.0,2022-05-25,['이승준'],['조국'],"['(주)켈빈클레인프로젝트', '(주)엣나인필름']",['20197742'],"['20021326', '20081290', '20100752', '20140723..."

In [253]:
df = df[(df['directors'].map(ast.literal_eval).map(len) > 0) & (df['actors'].map(ast.literal_eval).map(len) > 0)]
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,max_actor_nummovie,main_actor_nummovie,openDt,directors,actors,company_names,director_prev_movie,director_tot_filmo
1,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,18.0,2.0,2020-07-01,['조정래'],"['이봉근', '이유리', '김하연', '박철민', '김동완', '한인수', '정무...","['주식회사 제이오엔터테인먼트코리아', '(주)리틀빅픽쳐스', '주식회사 제이오엔터...",['20184961'],"['20111416', '20157587', '20161364', '20171164..."
3,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,18.0,13.0,2018-09-20,['우시로 신지'],"['여민정', '김지율', '홍범기', '신용우', '이호산']","['(주)씨제이이엔엠', '(주)씨제이이엔엠']",['20172142'],"['20137295', '20150501', '20172142', '20188304']"
4,패왕별희 디 오리지널,104951,68,88,"['드라마', '멜로/로맨스']",17.0,0.00,0.0,171.0,0.000000,0.0,0.0,2017-03-30,['첸 카이거'],"['장국영', '공리', '장풍의']","['와이드 릴리즈(주)', '(주)제이앤씨미디어그룹', '(주)드림팩트엔터테인먼트'...",['20139073'],"['19848312', '19920281', '19930404', '19970252..."
5,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,3.0,3.0,2021-12-29,['발디마르 요한손'],"['누미 라파스', '힐미르 스나에르 구오나손', '비욘 흘리뉘르 하랄드손']","['오드', '오드']",['20218390'],['20218390']
6,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,6.0,2.0,2019-10-09,['크리스 버틀러'],"['휴 잭맨', '조 샐다나', '자크 갈리피아나키스', '엠마 톰슨']","['(주)이수C&E', '주식회사 더쿱']",['20113917'],"['20113917', '20197691']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,18.0,1.0,2020-11-12,['최하나'],"['정수정', '장혜진', '최덕문', '이해영', '강말금', '남문철', '신재...","['(주)아토', '(주)모토', '(주)리틀빅픽쳐스', '(주)리틀빅픽쳐스']",['20129326'],"['20129326', '20204432', '20224758']"
1371,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,4.0,2.0,2021-04-07,['플로리안 젤러'],"['안소니 홉킨스', '올리비아 콜맨', '마크 게티스', '올리비아 윌리엄스', ...","['판씨네마(주)', '판씨네마(주)']",['20200065'],['20200065']
1372,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,7.0,7.0,2021-07-07,['케이트 쇼트랜드'],"['스칼렛 요한슨', '플로렌스 퓨', '레이첼 와이즈', '데이빗 하버']","['월트디즈니컴퍼니코리아 유한책임회사', '월트디즈니컴퍼니코리아 유한책임회사']",['20176511'],"['19998769', '20048302', '20123626', '20176511..."
1373,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,11.0,10.0,2018-02-01,"['노엘 클리어리', '세르지오 델피노']","['김서영', '김명준', '김소희', '임채헌', '윤세웅', '오인실', '이소...","['(주)영화사 빅', '(주)시네마리퍼블릭']","['20179228', '20179228']","['20179228', '20179228']"
1374,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,1.0,1.0,2022-05-25,['이승준'],['조국'],"['(주)켈빈클레인프로젝트', '(주)엣나인필름']",['20197742'],"['20021326', '20081290', '20100752', '20140723..."

## Make genre columns

In [254]:
for genre in df['genres'].map(ast.literal_eval).explode().value_counts().index:
    df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
df

C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)
C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\1126026272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'genre_{genre}'] = df['genres'].map(ast.literal_eval).map(lambda genres: genre in genres)

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,genre_미스터리,genre_다큐멘터리,genre_가족,genre_뮤지컬,genre_전쟁,genre_사극,genre_공연,genre_기타,genre_서부극(웨스턴),genre_성인물(에로)
1,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,False,False,False,False,False,True,False,False,False,False
3,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,False,False,False,False,False,False,False,False,False,False
4,패왕별희 디 오리지널,104951,68,88,"['드라마', '멜로/로맨스']",17.0,0.00,0.0,171.0,0.000000,...,False,False,False,False,False,False,False,False,False,False
5,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,False,False,False,False,False,False,False,False,False,False
6,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,False,False,False,False,False,False,False,False,False,False
1371,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,False,False,False,False,False,False,False,False,False,False
1372,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,False,False,False,False,False,False,False,False,False,False
1373,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,False,False,False,False,False,False,False,False,False,False
1374,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,False,True,False,False,False,False,False,False,False,False

## Add # of aud features

### Director

In [255]:
aud_by_dir = pd.read_csv('audmaxmean_bydir.csv')
aud_by_dir

      Unnamed: 0    peopleNm  max_audiAcc  mean_audiAcc
0              1    D.J. 카루소         2566        2566.0
1              2   F. 게리 그레이       847087      847087.0
2              3     J 블레이크슨         8060        8060.0
3              4  J.J. 에이브럼스        74338       74338.0
4              5  M. 나이트 샤말란        99238       85839.0
...          ...         ...          ...           ...
1081        1082     히라야마 미호         7301        7301.0
1082        1083   히라카와 유이치로          807         807.0
1083        1084     히로 타카시마         9216        9216.0
1084        1085     히로키 류이치        97334       97334.0
1085        1086    히시다 마사카즈         3189        1722.0

[1086 rows x 4 columns]

In [256]:
movie_directors = df[['movieNm', 'directors']]
movie_directors['directors'] = movie_directors['directors'].map(ast.literal_eval)
movie_directors.explode('directors')

C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\3293269002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_directors['directors'] = movie_directors['directors'].map(ast.literal_eval)

                       movieNm directors
1                          소리꾼       조정래
3     극장판 요괴워치 섀도사이드: 도깨비왕의 부활    우시로 신지
4                  패왕별희 디 오리지널     첸 카이거
5                            램  발디마르 요한손
6                 잃어버린 세계를 찾아서   크리스 버틀러
...                        ...       ...
1371                      더 파더   플로리안 젤러
1372                    블랙 위도우  케이트 쇼트랜드
1373                       마야2   노엘 클리어리
1373                       마야2  세르지오 델피노
1374                    그대가 조국       이승준

[1278 rows x 2 columns]

In [257]:
df_merged = movie_directors.explode('directors').merge(aud_by_dir, how = 'left', left_on = 'directors', right_on = 'peopleNm')
df_merged = df_merged.dropna(subset=['peopleNm'])
df_merged = df_merged.groupby('movieNm').agg({'max_audiAcc': 'max', 'mean_audiAcc': 'mean'})
df_merged

                 max_audiAcc  mean_audiAcc
movieNm
#살아있다               803868.0      803868.0
#아이엠히어                8512.0        8512.0
0.0MHz               85289.0       85289.0
007 노 타임 투 다이       981195.0      981195.0
12 솔져스               96156.0       96156.0
...                      ...           ...
후쿠오카                  3523.0        3523.0
휴가                    3975.0        3975.0
흥부: 글로 세상을 바꾼 자      47544.0       47544.0
히트맨                  97089.0       97089.0
힘을 내요, 미스터 리        990632.0      990632.0

[1127 rows x 2 columns]

In [258]:
df = pd.merge(df, df_merged.add_suffix('_director'), how = 'left', on = 'movieNm', ).dropna(subset=['max_audiAcc_director'])
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,genre_가족,genre_뮤지컬,genre_전쟁,genre_사극,genre_공연,genre_기타,genre_서부극(웨스턴),genre_성인물(에로),max_audiAcc_director,mean_audiAcc_director
0,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,False,False,False,True,False,False,False,False,77414.0,46236.500000
1,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,False,False,False,False,False,False,False,False,87949.0,87949.000000
3,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,False,False,False,False,False,False,False,False,8962.0,8962.000000
4,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,False,False,False,False,False,False,False,False,7746.0,7746.000000
5,닥터 스트레인지: 대혼돈의 멀티버스,5882489,26,45,"['액션', '어드벤처', '판타지']",15.0,0.00,0.0,126.0,3.500000,...,False,False,False,False,False,False,False,False,716931.0,716931.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,False,False,False,False,False,False,False,False,8200.0,8200.000000
1190,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,False,False,False,False,False,False,False,False,8492.0,8492.000000
1191,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,False,False,False,False,False,False,False,False,585956.0,585956.000000
1192,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,False,False,False,False,False,False,False,False,9052.0,9052.000000
1193,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,False,False,False,False,False,False,False,False,72082.0,45833.666667

### Company

In [259]:
aud_by_comp = pd.read_csv('audmaxmean_bycomp.csv')
aud_by_comp

     Unnamed: 0    companyNm  max_audiAcc   mean_audiAcc
0             1        아슬란필름         7831    7831.000000
1             2  (사)그라시아스합창단          600     600.000000
2             3     (유)안녕하세요         9639    9639.000000
3             4   (유)영화사 화수분         6247    6247.000000
4             5    (유)조이앤시네마       959351   53562.303571
..          ...          ...          ...            ...
600         601          해랑사         5725    5725.000000
601         602   호두앤유픽쳐스(주)       963002  963002.000000
602         603         홀리가든        95860   95860.000000
603         604    환타지엔터테인먼트         9680    9680.000000
604         605      힘컨텐츠(주)        35256   19926.500000

[605 rows x 4 columns]

In [260]:
movie_companys = df[['movieNm', 'company_names']]
movie_companys['company_names'] = movie_companys['company_names'].map(ast.literal_eval)
movie_companys.explode('company_names')

C:\Users\Youngin\AppData\Local\Temp\ipykernel_10436\2783063691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_companys['company_names'] = movie_companys['company_names'].map(ast.literal_eval)

                       movieNm       company_names
0                          소리꾼   주식회사 제이오엔터테인먼트코리아
0                          소리꾼           (주)리틀빅픽쳐스
0                          소리꾼   주식회사 제이오엔터테인먼트코리아
0                          소리꾼            (주)케이티알파
1     극장판 요괴워치 섀도사이드: 도깨비왕의 부활           (주)씨제이이엔엠
...                        ...                 ...
1191                    블랙 위도우  월트디즈니컴퍼니코리아 유한책임회사
1192                       마야2            (주)영화사 빅
1192                       마야2          (주)시네마리퍼블릭
1193                    그대가 조국        (주)켈빈클레인프로젝트
1193                    그대가 조국            (주)엣나인필름

[3444 rows x 2 columns]

In [261]:
df_merged = movie_companys.explode('company_names').merge(aud_by_comp, how = 'left', left_on = 'company_names', right_on = 'companyNm')
df_merged = df_merged.dropna(subset=['companyNm'])
df_merged = df_merged.groupby('movieNm').agg({'max_audiAcc': 'max', 'mean_audiAcc': 'mean'})
df_merged

                 max_audiAcc  mean_audiAcc
movieNm
#살아있다              9860189.0  7.436505e+05
#아이엠히어              990632.0  1.672366e+05
0.0MHz              882001.0  9.411832e+04
007 노 타임 투 다이      5648970.0  3.330448e+05
12 솔져스              959351.0  5.389702e+04
...                      ...           ...
후쿠오카                  7167.0  4.094667e+03
휴가                    7167.0  4.817000e+03
흥부: 글로 세상을 바꾼 자     980797.0  1.429699e+05
히트맨                9860189.0  5.649334e+05
힘을 내요, 미스터 리       9860189.0  1.046162e+06

[1126 rows x 2 columns]

In [262]:
df = pd.merge(df, df_merged.add_suffix('_company'), how = 'left', on = 'movieNm', ).dropna(subset=['max_audiAcc_company'])
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,genre_전쟁,genre_사극,genre_공연,genre_기타,genre_서부극(웨스턴),genre_성인물(에로),max_audiAcc_director,mean_audiAcc_director,max_audiAcc_company,mean_audiAcc_company
0,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,False,True,False,False,False,False,77414.0,46236.500000,983814.0,6.319600e+04
1,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,False,False,False,False,False,False,87949.0,87949.000000,9989649.0,7.514830e+05
2,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,False,False,False,False,False,False,8962.0,8962.000000,95133.0,1.529506e+04
3,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,False,False,False,False,False,False,7746.0,7746.000000,98836.0,2.532210e+04
4,닥터 스트레인지: 대혼돈의 멀티버스,5882489,26,45,"['액션', '어드벤처', '판타지']",15.0,0.00,0.0,126.0,3.500000,...,False,False,False,False,False,False,716931.0,716931.000000,9945756.0,1.295179e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,False,False,False,False,False,False,8200.0,8200.000000,983814.0,6.601400e+04
1126,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,False,False,False,False,False,False,8492.0,8492.000000,985582.0,5.123617e+04
1127,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,False,False,False,False,False,False,585956.0,585956.000000,9945756.0,1.295179e+06
1128,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,False,False,False,False,False,False,9052.0,9052.000000,79699.0,1.108368e+04
1129,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,False,False,False,False,False,False,72082.0,45833.666667,95329.0,4.475222e+04

In [263]:
df.to_csv('data_merged.csv', index = False)

In [264]:
df.columns

Index(['movieNm', 'audiAcc', 'scrnCnt', 'showCnt', 'genres',
       'director_career_length', 'avg score', 'avg aud', 'movie_length',
       'mean_actor_nummovie', 'max_actor_nummovie', 'main_actor_nummovie',
       'openDt', 'directors', 'actors', 'company_names', 'director_prev_movie',
       'director_tot_filmo', 'genre_드라마', 'genre_액션', 'genre_애니메이션',
       'genre_코미디', 'genre_스릴러', 'genre_멜로/로맨스', 'genre_어드벤처', 'genre_범죄',
       'genre_판타지', 'genre_공포(호러)', 'genre_SF', 'genre_미스터리', 'genre_다큐멘터리',
       'genre_가족', 'genre_뮤지컬', 'genre_전쟁', 'genre_사극', 'genre_공연', 'genre_기타',
       'genre_서부극(웨스턴)', 'genre_성인물(에로)', 'max_audiAcc_director',
       'mean_audiAcc_director', 'max_audiAcc_company', 'mean_audiAcc_company'],
      dtype='object')

In [265]:
df['movie_name_length'] = df['movieNm'].str.len()
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,genre_사극,genre_공연,genre_기타,genre_서부극(웨스턴),genre_성인물(에로),max_audiAcc_director,mean_audiAcc_director,max_audiAcc_company,mean_audiAcc_company,movie_name_length
0,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,True,False,False,False,False,77414.0,46236.500000,983814.0,6.319600e+04,3
1,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,False,False,False,False,False,87949.0,87949.000000,9989649.0,7.514830e+05,24
2,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,False,False,False,False,False,8962.0,8962.000000,95133.0,1.529506e+04,1
3,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,False,False,False,False,False,7746.0,7746.000000,98836.0,2.532210e+04,12
4,닥터 스트레인지: 대혼돈의 멀티버스,5882489,26,45,"['액션', '어드벤처', '판타지']",15.0,0.00,0.0,126.0,3.500000,...,False,False,False,False,False,716931.0,716931.000000,9945756.0,1.295179e+06,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,False,False,False,False,False,8200.0,8200.000000,983814.0,6.601400e+04,4
1126,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,False,False,False,False,False,8492.0,8492.000000,985582.0,5.123617e+04,4
1127,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,False,False,False,False,False,585956.0,585956.000000,9945756.0,1.295179e+06,6
1128,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,False,False,False,False,False,9052.0,9052.000000,79699.0,1.108368e+04,3
1129,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,False,False,False,False,False,72082.0,45833.666667,95329.0,4.475222e+04,6

In [266]:
with_weather = pd.read_csv('weather_join.csv')
with_weather

,Unnamed: 0,X,Unnamed..0.1,movieCd,Unnamed..0,date,rnum,rank,rankInten,rankOldAndNew,...,director_tot_filmo,director_prev_title,companys_prev_title,director_career_length,timeinBO,corr_timeinBO..days.,avg.score,avg.aud,avgtemp,avgrn
0,1,0,0,20223308,15328,2022-03-13,9,9,4,OLD,...,[],[],"['missing data', 'missing data', 'missing data...",0.0,25 days,11,0.00,0.0,3.635714,2.078571
1,2,1,1,20196201,9258,2020-07-14,9,9,-1,OLD,...,"['20111416', '20157587', '20161364', '20171164...",['에움길'],"['missing data', 'missing data', 'missing data...",7.0,14 days,15,9.62,7720.0,24.046429,9.600000
2,3,2,2,20208282,8838,2020-06-02,9,9,0,OLD,...,[],[],"['missing data', 'missing data', 'missing data...",0.0,21 days,21,0.00,0.0,19.421429,3.182143
3,4,3,3,20188304,2726,2018-09-30,7,7,0,OLD,...,"['20137295', '20150501', '20172142', '20188304']",['극장판 요괴워치: 하늘을 나는 고래와 더블세계다냥!'],"['missing data', 'missing data', 'missing data...",4.0,11 days,11,8.58,210000.0,16.332143,4.410714
4,5,4,4,20173226,11859,2021-03-31,10,10,0,NEW,...,"['19848312', '19920281', '19930404', '19970252...",['수색'],"['missing data', 'missing data', 'missing data...",17.0,1463 days,28,0.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,1388,1387,1387,20204432,10513,2020-11-17,4,4,1,OLD,...,"['20129326', '20204432', '20224758']",['고슴도치 고슴'],"['missing data', 'missing data', 'missing data...",3.0,6 days,7,0.00,0.0,5.435714,3.721429
1388,1389,1388,1388,20200065,12049,2021-04-19,10,10,0,OLD,...,['20200065'],['더 파더'],"['missing data', 'missing data', 'missing data...",1.0,13 days,12,0.00,0.0,13.867857,3.453571
1389,1390,1389,1389,20191951,13318,2021-08-24,9,9,-1,OLD,...,"['19998769', '20048302', '20123626', '20176511...",['베를린 신드롬'],"['missing data', 'missing data', 'missing data...",5.0,49 days,46,6.24,7011.0,28.832143,3.460714
1390,1391,1390,1390,20179228,348,2018-02-04,9,9,0,OLD,...,"['20179228', '20179228']","['마야2', '마야2']","['missing data', 'missing data', 'missing data...",1.0,4 days,4,9.13,97000.0,-1.646429,1.075000
1391,1392,1391,1391,20224634,16499,2022-07-08,10,10,2,OLD,...,"['20021326', '20081290', '20100752', '20140723...",['부재의 기억'],"['missing data', 'missing data', 'missing data...",10.0,45 days,27,0.00,0.0,22.117857,1.617857

In [267]:
with_weather.columns

Index(['Unnamed: 0', 'X', 'Unnamed..0.1', 'movieCd', 'Unnamed..0', 'date',
       'rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieNm', 'openDt',
       'salesAmt', 'salesShare', 'salesInten', 'salesChange', 'salesAcc',
       'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt', 'showCnt',
       '요일', '휴일.여부', 'genres', 'directors', 'actors', 'companys',
       'companys_역할', 'director_prev_movie', 'director_tot_filmo',
       'director_prev_title', 'companys_prev_title', 'director_career_length',
       'timeinBO', 'corr_timeinBO..days.', 'avg.score', 'avg.aud', 'avgtemp',
       'avgrn'],
      dtype='object')

In [268]:
df = pd.merge(df, with_weather[['movieNm', 'avgtemp', 'avgrn']], how = 'left', on = 'movieNm').dropna(subset=['avgtemp'])
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,genre_기타,genre_서부극(웨스턴),genre_성인물(에로),max_audiAcc_director,mean_audiAcc_director,max_audiAcc_company,mean_audiAcc_company,movie_name_length,avgtemp,avgrn
0,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,False,False,False,77414.0,46236.500000,983814.0,6.319600e+04,3,24.046429,9.600000
1,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,False,False,False,87949.0,87949.000000,9989649.0,7.514830e+05,24,16.332143,4.410714
2,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,False,False,False,8962.0,8962.000000,95133.0,1.529506e+04,1,-2.453571,0.153571
3,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,False,False,False,7746.0,7746.000000,98836.0,2.532210e+04,12,15.039286,0.064286
4,닥터 스트레인지: 대혼돈의 멀티버스,5882489,26,45,"['액션', '어드벤처', '판타지']",15.0,0.00,0.0,126.0,3.500000,...,False,False,False,716931.0,716931.000000,9945756.0,1.295179e+06,19,19.657143,0.267857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,False,False,False,8200.0,8200.000000,983814.0,6.601400e+04,4,5.435714,3.721429
1131,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,False,False,False,8492.0,8492.000000,985582.0,5.123617e+04,4,13.867857,3.453571
1132,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,False,False,False,585956.0,585956.000000,9945756.0,1.295179e+06,6,28.832143,3.460714
1133,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,False,False,False,9052.0,9052.000000,79699.0,1.108368e+04,3,-1.646429,1.075000
1134,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,False,False,False,72082.0,45833.666667,95329.0,4.475222e+04,6,22.117857,1.617857

In [269]:
polution = pd.read_csv('lasttimeinBO_edited_PM포함_개봉일결측삭제.csv')
polution

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,movieCd,Unnamed: 0,rank,movieNm,openDt,audiAcc,scrnCnt,...,movie_length,mean_actor_nummovie,max_actor_nummovie,main_actor_nummovie,PM10_mean,PM10_max,PM10_bad_days,PM25_mean,PM25_max,PM25_bad_days
0,0,0,0,20223308,15328,9,극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출\t,2022-02-17,25726,89,...,72.0,0.000000,0.0,0.0,47.466667,96.640000,1,24.755556,49.40,7
1,1,1,1,20196201,9258,9,소리꾼,2020-07-01,77414,240,...,118.0,2.722222,18.0,2.0,21.322531,51.800000,0,13.660123,37.08,1
2,2,2,2,20208282,8838,9,더 플랫폼,2020-05-13,62950,123,...,94.0,0.000000,0.0,0.0,35.146157,55.080000,0,20.248889,32.48,0
3,3,3,3,20188304,2726,7,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,2018-09-20,151054,350,...,103.0,10.200000,18.0,13.0,22.730432,60.080000,0,11.257654,36.56,1
4,4,4,4,20173226,11859,10,패왕별희 디 오리지널,2017-03-30,104951,68,...,171.0,0.000000,0.0,0.0,NaN,NaN,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370,1370,1387,1387,20204432,10513,4,애비규환,2020-11-12,19288,363,...,107.0,2.283019,18.0,1.0,39.148025,73.440000,0,25.262778,51.68,7
1371,1371,1388,1388,20200065,12049,10,더 파더,2021-04-07,30226,135,...,96.0,2.166667,4.0,2.0,40.488889,77.800000,0,18.537552,37.12,1
1372,1372,1389,1389,20191951,13318,9,블랙 위도우,2021-07-07,2957005,59,...,133.0,3.500000,7.0,7.0,23.226667,44.240000,0,14.919444,31.44,0
1373,1373,1390,1390,20179228,348,9,마야2,2018-02-01,55214,429,...,84.0,7.000000,11.0,10.0,53.692967,95.863636,2,30.465721,63.64,9
1374,1374,1391,1391,20224634,16499,10,그대가 조국,2022-05-25,330566,20,...,124.0,1.000000,1.0,1.0,24.240000,47.960000,0,12.711111,23.08,0

In [270]:
polution = polution[['movieNm', 'PM10_mean', 'PM10_max', 'PM10_bad_days',
       'PM25_mean', 'PM25_max', 'PM25_bad_days']]
polution

,movieNm,PM10_mean,PM10_max,PM10_bad_days,PM25_mean,PM25_max,PM25_bad_days
0,극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출\t,47.466667,96.640000,1,24.755556,49.40,7
1,소리꾼,21.322531,51.800000,0,13.660123,37.08,1
2,더 플랫폼,35.146157,55.080000,0,20.248889,32.48,0
3,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,22.730432,60.080000,0,11.257654,36.56,1
4,패왕별희 디 오리지널,NaN,NaN,0,NaN,NaN,0
...,...,...,...,...,...,...,...
1370,애비규환,39.148025,73.440000,0,25.262778,51.68,7
1371,더 파더,40.488889,77.800000,0,18.537552,37.12,1
1372,블랙 위도우,23.226667,44.240000,0,14.919444,31.44,0
1373,마야2,53.692967,95.863636,2,30.465721,63.64,9
1374,그대가 조국,24.240000,47.960000,0,12.711111,23.08,0

In [271]:
df = pd.merge(df, polution, how = 'left', on = 'movieNm').dropna(subset=['PM10_mean'])
df

,movieNm,audiAcc,scrnCnt,showCnt,genres,director_career_length,avg score,avg aud,movie_length,mean_actor_nummovie,...,mean_audiAcc_company,movie_name_length,avgtemp,avgrn,PM10_mean,PM10_max,PM10_bad_days,PM25_mean,PM25_max,PM25_bad_days
0,소리꾼,77414,240,349,"['사극', '드라마']",7.0,9.62,7720.0,118.0,2.722222,...,6.319600e+04,3,24.046429,9.600000,21.322531,51.800000,0,13.660123,37.08,1
1,극장판 요괴워치 섀도사이드: 도깨비왕의 부활,151054,350,479,['애니메이션'],4.0,8.58,210000.0,103.0,10.200000,...,7.514830e+05,24,16.332143,4.410714,22.730432,60.080000,0,11.257654,36.56,1
2,램,13654,41,44,['공포(호러)'],1.0,7.10,15000.0,106.0,1.666667,...,1.529506e+04,1,-2.453571,0.153571,42.771852,117.400000,2,27.989630,93.36,6
3,잃어버린 세계를 찾아서,17510,268,331,"['애니메이션', '어드벤처']",2.0,8.10,10000.0,94.0,3.500000,...,2.532210e+04,12,15.039286,0.064286,37.393083,98.040000,2,17.791603,39.72,1
4,닥터 스트레인지: 대혼돈의 멀티버스,5882489,26,45,"['액션', '어드벤처', '판타지']",15.0,0.00,0.0,126.0,3.500000,...,1.295179e+06,19,19.657143,0.267857,32.571852,68.080000,0,16.640000,42.24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,애비규환,19288,363,532,"['드라마', '코미디']",3.0,0.00,0.0,107.0,2.283019,...,6.601400e+04,4,5.435714,3.721429,39.148025,73.440000,0,25.262778,51.68,7
1083,더 파더,30226,135,159,['드라마'],1.0,0.00,0.0,96.0,2.166667,...,5.123617e+04,4,13.867857,3.453571,40.488889,77.800000,0,18.537552,37.12,1
1084,블랙 위도우,2957005,59,66,"['액션', '어드벤처', 'SF']",5.0,6.24,7011.0,133.0,3.500000,...,1.295179e+06,6,28.832143,3.460714,23.226667,44.240000,0,14.919444,31.44,0
1085,마야2,55214,429,625,['애니메이션'],1.0,9.13,97000.0,84.0,7.000000,...,1.108368e+04,3,-1.646429,1.075000,53.692967,95.863636,2,30.465721,63.64,9
1086,그대가 조국,330566,20,21,['다큐멘터리'],10.0,0.00,0.0,124.0,1.000000,...,4.475222e+04,6,22.117857,1.617857,24.240000,47.960000,0,12.711111,23.08,0

In [272]:
df.to_csv('data_merged.csv', index = False)